{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div style="padding: 5% 30%;">
        <div class="form">
            <h1 class="text-center">Забыли пароль?</h1>
            <br>
            <p>Введите ваш e-mail для изменения пароля.</p>
            <form action="." method="post">
                {{ form|crispy }}
                <p><input type="submit" class="btn btn-primary" value="Отправить e-mail"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}