{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div style="padding: 5% 30%;">
        <div class="form">
            <h1 class="text-center">Сброс пароля</h1>
            <br>
            {% if validlink %}
                <p>Пожалуйста введите ваш новый пароль дважды:</p>
                <form action="." method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-primary" value="Изменить пароль"/></p>
                </form>
            {% else %}
                <p>
                    Ссылка сброса пароля невалидна. Возможно ей уже воспользовались ранее.
                    Запросите вновь сброс пароля.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}