{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div style="padding: 5% 30%;">
        <div class="form">
            <h1 class="text-center">Изменение пароля</h1>
            <br>
            <p>Воспользуйтесь формой ниже для смены пароля.</p>
            <form action="." method="post">
                {{ form|crispy}}
                <p><input type="submit" class="btn btn-primary" value="Изменить"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}