{% extends "base.html" %}

{% block title %}Создание профиля{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div style="padding: 1.5% 30%">
        <div class="form">
            <h1 class="text-center">Создание профиля</h1>
            <br>
            <p>Пожалуйста, зарегистрируйтесь используя следующую форму:</p>
            <form action="." method="post">
                {{ user_form|crispy }}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-primary" value="Зарегистрироваться"></p>
            </form>
        </div>
    </div>
{% endblock %}